<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<h2>Beecome a member, sign up now!</h2>
<div class="flex-container">
    <div class="flex-item-left">
        <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>First name</mat-label>
              <input type="first name" matInput>
            </mat-form-field>
        </form>
        <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Address</mat-label>
              <input type="address" matInput >
            </mat-form-field>
        </form>
        <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Username</mat-label>
              <input type="email" matInput>
            </mat-form-field>
        </form>
        <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Confirm password</mat-label>
              <input type="password" matInput >
            </mat-form-field>
        </form>
    </div>
    <div class="flex-item-right">
        <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Last name</mat-label>
              <input type="last name" matInput >
            </mat-form-field>
        </form>
        <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Phone number:</mat-label>
              <input type="number" matInput >
            </mat-form-field>
        </form>
        <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Password</mat-label>
              <input type="password" matInput >
            </mat-form-field>
        </form>
        <form class="role-combobox">
        <mat-form-field>
            <mat-label>Select role</mat-label>
                <mat-select>
                    <mat-option value = 'option1'> Guest </mat-option>
                    <mat-option value = 'option2'> Host </mat-option>
                </mat-select>
            </mat-form-field>
        </form>
        </div>
</div>
<div class="center-container">
<button mat-raised-button >SIGN UP</button>
</div>
<p>Already have an account? <a [routerLink]="['/logIn']">Login here</a></p>
</body>
</html>
