<div id="requestsTableDiv">
  <mat-table  id="requestsTable" [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <!-- Columns -->
    <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ columnDisplayNames[column] }}
      </mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index">
        <ng-container *ngIf="column === 'delete'">
          <button mat-icon-button>
            <mat-icon class="icons">clear</mat-icon>
          </button>
        </ng-container>
        <ng-container *ngIf="column === 'guest' || column=='accommodation'">
          {{ element[column] }}
          <button mat-icon-button>
            <mat-icon class="icons">rate_review</mat-icon>
          </button>
        </ng-container>
        <ng-container *ngIf="column !== 'delete' && column!='guest' && column!='accommodation'">{{ element[column] }}</ng-container>
      </mat-cell>
    </ng-container>

    <!-- Row content -->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
</div>

