<div class="container">
<mat-card class="accommodationCard">
  <mat-card-header class="accommodationName"><strong>{{accommodation?.name}}</strong> <div class="rating">
    <mat-icon *ngFor="let star of Array(5)" class="stars">star</mat-icon>
  </div></mat-card-header>
  <mat-card-subtitle class="address">
    {{accommodation?.address?.country}},{{accommodation?.address?.city}},{{accommodation?.address?.address}}
  </mat-card-subtitle>
  <img mat-card-image class="accommodationMainImage" src="../../../assets/images/hotel2.jpg" alt="slika"/>
  <mat-card-content class="description">{{accommodation?.description}}</mat-card-content>
  <mat-card-actions align="end">
    <button mat-button>Add to favorite<mat-icon matListItemIcon>favorite</mat-icon></button>
  </mat-card-actions>
  <mat-card-footer class="hostDescription" ><mat-icon class="hostIcon">house</mat-icon>Host:{{accommodation?.hostId}} </mat-card-footer>
</mat-card>
<div class="amenity">
  <h4>Available amenities</h4>
  <mat-list *ngFor="let amenity of accommodation?.amenities" class="amenityList" role="list">
  <mat-list-item>
    <mat-icon class="icon" matListItemIcon>{{amenity?.name}}</mat-icon>
    <span matListItemTitle>{{amenity?.name}}</span>
  </mat-list-item>
  <mat-divider></mat-divider>
<!--  <mat-list-item>-->
<!--    <mat-icon class="icon" matListItemIcon>pets</mat-icon>-->
<!--    <span matListItemTitle>Pets</span>-->
<!--  </mat-list-item>-->
<!--  <mat-divider></mat-divider>-->
<!--  <mat-list-item>-->
<!--&lt;!&ndash;    <img matListItemAvatar src="..." alt="...">&ndash;&gt;-->
<!--    <mat-icon class="icon" matListItemIcon>wifi</mat-icon>-->
<!--    <span matListItemTitle>WiFi</span>-->
<!--  </mat-list-item>-->
<!--  <mat-divider></mat-divider>-->
<!--  <mat-list-item>-->
<!--    &lt;!&ndash;    <img matListItemAvatar src="..." alt="...">&ndash;&gt;-->
<!--    <mat-icon class="icon" matListItemIcon>air</mat-icon>-->
<!--    <span matListItemTitle>Air conditioning</span>-->
<!--  </mat-list-item>-->
<!--  <mat-divider></mat-divider>-->
</mat-list>

<img class="mapa" src="../../../assets/images/mapa.jpg">
</div>
</div>

<div class="filter">
  <div class="dates">
    <p>Select dates</p>
    <mat-form-field class="date-picker">
      <mat-date-range-input [rangePicker]="rangePicker">
        <input matStartDate placeholder="Start date">
        <input matEndDate placeholder="End date">
      </mat-date-range-input>
      <mat-datepicker-toggle matIconSuffix [for]="rangePicker"></mat-datepicker-toggle>
      <mat-date-range-picker #rangePicker>
        <mat-date-range-picker-actions>
          <button mat-button matDateRangePickerCancel>Cancel</button>
          <button mat-raised-button color="primary" matDateRangePickerApply>Apply</button>
        </mat-date-range-picker-actions>
      </mat-date-range-picker>
    </mat-form-field>
  <p>Number of quests</p>
  <mat-form-field>
    <mat-label>Select</mat-label>
    <mat-icon matSuffix>person</mat-icon>
    <mat-select>
      <mat-option value="one">1</mat-option>
      <mat-option value="two">2</mat-option>
    </mat-select>
  </mat-form-field>
  <p>Price</p>
  <mat-form-field floatLabel="always">
    <mat-label>Price</mat-label>
    <input matInput type="number" class="example-right-align" placeholder="0">
    <span matTextPrefix>$&nbsp;</span>
  </mat-form-field>
  </div>
  <button mat-raised-button class="reserveButton">Reserve</button>
</div>

<h3>Comments</h3>
<div class="comments">
  <mat-card class="commentCard">
    <mat-card-title class="commentIcon"><mat-icon>comment</mat-icon></mat-card-title>
    <mat-card-header class="commentUser">paraperic@gmail.com</mat-card-header>
    <mat-divider class="commentDivider"></mat-divider>
    <mat-card-content>Great!!!</mat-card-content>
  </mat-card>

</div>


<div class="footer">

</div>
