
*{
  padding: 2%;
  margin-left: 10px;
}

.accommodationMainImage {
  width: 60%;
  height: 100%;
  margin-top: 20px;
  margin-left: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.accommodationCard {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 -2px 4px rgba(0, 0, 0, 0.1);
  width: 90%;
  height: 70%;
  margin-bottom: 0;
  padding-bottom: 0;
  stroke: #D3CBE0;
}

.address {
  margin-left: 20px;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 18px;
}

.description {
  margin-bottom: 25px;
  font-size: 18px;
}

.accommodationName {
  font-size: 25px;
  padding-top: 0;
  padding-left: 0;
}

.amenityList {
  height: 5%;
  margin-bottom: 40px;
  margin-top: 0;
  padding-top: 0;
}
.container {
  display: flex;
}

.accommodationCard, .amenityList {
  margin-left: 10px; /* Optional: add some space between the components */
  margin-right: 10px; /* Optional: add some space between the components */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.amenity {
  margin-top: 0;
  padding-top: 0;
  height: auto;
  width: auto;
  padding-bottom: 10px;
}

.amenityIcon {
  margin-top: 0;
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;
}

.mapa {
  width: 80%;
  height: 40%;
}
#amenityMap{
  width: 60%;
}

.stars {
  color: yellow;
  margin-right: 0;
  padding-right: 0;
  padding-left: 0;
  margin-left: 0;
  padding-top: 0;
  margin-top: 0;
}

.rating {
  width: 220px;
}

.dates {
  display: flex;
  margin: 0;
  padding: 0;
}

.filter {
  margin-top: 0;
  margin: 50px;
  padding-top: 32px;
  padding-bottom: 0;
  /*border: 2px solid #D3CBE0;*/
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 -2px 4px rgba(0, 0, 0, 0.1);

  text-align: center;
  border-radius: 25px; /* <---------- use this to round all corners in div */
  background-color: whitesmoke;
}

p {
  margin-right: 0;
  padding-right: 0;
  margin-left: 1%;
  padding-left: 0;
}


.reserveButton {
  margin-bottom: 20px;
  font-size: 14px;
  padding-left: 30px;
  padding-right: 30px;
}


.hostCard {
  width: 100%;
  /*height: auto;*/
  margin-bottom: 2%;
  margin-left: 0;
  padding-left: 10px;
  display: inline-flex;
}

.comments {
  background-color: whitesmoke;
  width: auto;
  display: flex;
  overflow-x: scroll;
  scroll-padding-top: 0;
  margin-bottom: 10%;
  margin: 50px;
  margin-top: 10px;
  padding-top: 25px;
  padding-bottom: 10px;
  /*border: 2px solid #D3CBE0;*/
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 -2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
}

h3 {
  margin-left: 30px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.images {
  margin-top: 5px;
  margin-bottom: 5%;
  padding-top: 0;
  width: 90%;
  height: 75%;
  /*margin: 20px;*/
  display: flex;
  overflow-x: scroll;
  scroll-padding-top: 0;
  scrollbar-width: none;
}

.hostStars {
  color: yellow;
  margin-right: 0;
  padding-right: 0;
  padding-left: 0;
  margin-left: 0;
  margin-top: 0;
}


.label {
  margin-left: 0;
  padding-left: 0;
}

.mat-form-field {
  margin-left: 0;
  padding-left: 0;
}

.host {
  margin-left: 0;
}

.amenityName {
  font-size: 17px;
  margin-top: 0;
  padding-top: 0;
}

.example-header-image {
  background-image: url('../../../assets/images/host.png');
  background-size: cover;
}

.hostDescription {
  display: flex;
}

.hostInformation {
  width: 200px;
  display: block;
}

.hostTitle {
  width: 200px;
}

