.accommodation {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1), 0 -4px 8px rgba(0, 0, 0, 0.1);   margin-left: 30px;
  display: flex;
  padding: 10px;
  width: 50%;
  margin-bottom: 20px;
}
.accommodation-card{
  margin-left: 10px;
}

.accommodation img {
  width: 300px;
  margin-right: 10px;
}
.address-icon{
  margin-right: 5px;
}
.details-btn{
  width: 100px;
  padding: 10px;
  background-color: #D3CBE0;
  border-radius: 10px;
  border:none;
}

