<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="account-management.component.css">
</head>
<body>
    <div class="side-illustration">
        <img [src]=url alt="Illustration Image">
        <br>
        <br>
        <input type="file" class="d-none"  (change)="onFileSelected(imageInput.files)" #imageInput/>
    </div>
    <div class="login-container">
        <form>
            <label for="firstName">First name:</label>
            <input type="text" id="firstName" name="username"  [value]="user?.firstName" required>

            <label for="lastName">Last name:</label>
            <input type="text" id="lastName" name="password" [value]="user?.lastName" required>

            <label for="address">Address:</label>
            <input type="text" id="address" name="username" [value]="user?.address?.address" required>

            <label for="phoneNumber">Phone number:</label>
            <input type="number" id="phoneNumber" name="password" [value]="user?.phoneNumber" required>

            <label for="username">Username:</label>
            <input type="email" id="username" name="username" [value]="user?.account?.username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" [value]="user?.account?.password" required>

            <label for="password">Confirm password:</label>
            <input type="password" id="password1" name="password" [value]="user?.account?.password" required>


            <button type="submit">Save changes</button>
            <button type="submit">Delete account</button>

        </form>
    </div>

</body>
</html>
